@charset "utf-8";
* { box-sizing: border-box; }
html, body { margin: 0px; padding: 0px; }
body.active { overflow-y: hidden; }
h1,h2,h3,h4,h5,h6,p { margin:0px; }
ul, ol { margin: 0px; padding: 0px; list-style: none; }
a, a:hover { text-decoration: none; }

/* header */
header {
    position: fixed;
    width: 100%;
    height:70px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    z-index: 100;
    top: 0; left: 0;
}
header .wrap {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
header .wrap .logo {}
header .wrap .logo a {}
header .wrap .logo a img {
    display: block;
    height: 35px;
}
header .wrap nav {}
header .wrap nav ul { display: flex; }
header .wrap nav ul li { margin: 0 20px; }
header .wrap nav ul li:last-child { margin-right: 0; }
header .wrap nav ul li a { 
    display: block;
    font-size: 16px;
    color:#555;
    text-transform: uppercase;
}
header .wrap nav ul li:hover a {
    color:#111;
}

/* banner */
#slider {
    height: 470px;
    padding-top: 70px;
    position: relative;
    overflow: hidden;
}
#slider .slide_frame {}
#slider .slide_frame .slide {
    width: 100%;
    height: 400px;
    position: relative;
}
#slider .slide_frame .slide .bgImg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
#slider .slide_frame .slide .dark {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

#slider .wrap {
   position: absolute;
   top: 70px; left: 50%;
   transform: translateX(-50%);
   width: 1200px;
   height: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   padding-left: 200px;
}
#slider .wrap .text_part {
   width: calc(40% - 20px);
   margin: 0 10px;
}
#slider .wrap .text_part h2 {
   font-size: 32px;
   color: #fff;
   padding-bottom: 25px;
   word-break: keep-all;
}
#slider .wrap .text_part a {
   display: block;
   width: 140px;
   height: 40px;
   border: 1px solid #fff;
   border-radius: 20px;
   color: #fff;
   text-align: center;
   line-height: 38px;/* 30 -1(border 상단) -1(border 하단) = 28px*/
   transition: background-color 0.5s;
}
#slider .wrap .text_part a:hover {
   background-color: rgba(255, 255, 255, 0.25);
}

/* cont1 */
#movie {
   padding: 60px 0 40px;
}
#movie .wrap {
   width: 1200px;
   margin: 0 auto;
}
#movie .wrap h2 {
   color: #555;
   font-size: 24px;
   text-align: center;
}
#movie .wrap .content {
   display: flex;
   flex-wrap: wrap;
   padding-top: 40px;
}
#movie .wrap .content .box {
   width: calc(100% / 3 - 20px);
   margin: 0 10px 20px;
}
#movie .wrap .content .box .movie_item {
   height: 200px;
   background-size: cover;
   background-position: 50% 50%;
   background-color: #eee;
   display: flex;
   justify-content: center;
   align-items: center;
}
#movie .wrap .content .box .movie_item img {
   display: block;
   height: 40px;
}

#movie .wrap .content .box h3 {
   font-size: 16px;
   color: #555;
   padding-top: 20px;
   font-weight: normal;
}

/* bannermid */
#slider_mid {
   height: 300px;
   padding-top: 0px;
   position: relative;
   overflow: hidden;
}
#slider_mid .slide_frame {}
#slider_mid .slide_frame .slide {
   width: 100%;
   height: 300px;
   position: relative;
}
#slider_mid .slide_frame .slide .bgImg {
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: 50% 50%;
}
#slider_mid .slide_frame .slide .dark {
   position: absolute;
   top: 0; left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.25);
}

#slider_mid .wrap {
  position: absolute;
  top: 0px; 
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  
}
#slider_mid .wrap .text_part {
  width: 460px;
  margin: 0 auto;
  justify-content: center;
}
#slider_mid .wrap .text_part h2 {
  font-size: 32px;
  color: #fff;
  padding-bottom: 25px;
  word-break: keep-all;
}
#slider_mid .wrap .text_part p {
   color: #fff;
   word-break: keep-all;
}
#slider_mid .wrap .text_part a {
  display: block;
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  line-height: 38px;/* 30 -1(border 상단) -1(border 하단) = 28px*/
  transition: background-color 0.5s;
  margin: 20px auto;
}
#slider_mid .wrap .text_part a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

/* actors */
#actors {width: 100%; padding-top: 60px}

#actors .wrap {
   width: 1200px;
   margin: 0 auto;
}
#actors h2 {
   color: #555;
   font-size: 24px;
   text-align: center;
   padding-bottom: 40px;
}
#actors .wrap .bgImg {
   width: 370px;
   height: 370px;
   display: inline-flex;
   margin: 10px 10px;
}
#actors .wrap .bgImg:last-child {
   margin-right: 0px;
}
#actors .wrap .label {
   width: 100%;
   height: 60px;
   background-color: rgba(0,0,0,0.5);
   position: relative;
   top: calc(100% - 60px);
   display: inline-flex;
   align-items: center;
}

#actors .wrap .label p {
   margin-left: 20px;
   color: #fff;
}
#actors .wrap .label a {
   display: block;
   color: #fff;
   width: 140px;
   height: 36px;
   border: 1px solid #fff;
   border-radius: 18px;
   text-align: center;
   line-height: 34px;/* 36 -1(border 상단) -1(border 하단) = 34px*/
   transition: background-color 0.5s;
   margin-left: 130px;
}
#actors .wrap .label a:hover {
   background-color: rgba(255, 255, 255, 0.25);
}
 
#actors .more {
   display: block;
   color: #fff;
   width: 140px;
   height: 40px;
   margin: 20px auto 50px;

   border: 1px solid #fff;
   border-radius: 20px;
   background-color: #666;
   transition: background-color 0.5s;
   text-align: center;
   line-height: 38px;/* 30 -1(border 상단) -1(border 하단) = 28px*/
}
#actors .more:hover {
   background-color: #999
}

/* review */
#review { width: 100%; height: 480px; }
#review .wrap {
   width: 100%; 
   height: 100%;
}
#review h2 {
   color: #fff;
   font-size: 24px;
   text-align: center;
   padding-top: 40px;
   padding-bottom: 50px;
}
#review .wrap .slide_frame {
   width: 800px;
   height: 300px;
   margin: 0 auto;
}
#review .wrap .slide_frame .slide {
   width: 800px;
   height: 300px;
   position: relative;
   text-align: center;
}
#review .wrap .slide_frame .slide p {
   word-break: keep-all;
   color : #fff;
}
#review .wrap .slide_frame .slide .bgImg {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-size: cover;
   margin: 20px auto 10px;
}
#review .slick-dots li button:before {
   font-size: 20px;
   color : #fff
}
#review .slick-dots li.slick-active button:before {
   font-size: 20px;
   color : #fff
}

/* footer */
#footer {
   width: 100%;
   height: 200px;
   
   background-color: #888;
}
#footer .wrap {
   width: 1200px;
   margin: 0 auto;
}
#footer .wrap .top {
   left: 0;
   padding-top: 40px;
}
#footer .wrap .top a {
   color : #fff;
   margin-right: 40px;
}
#footer .wrap .bottom {
   width: 100%;
   display: inline-flex;
}
#footer .wrap .bottom .bottom-left {
   width: 50%;
}
#footer .wrap .bottom .bottom-right {
   width: 50%;
}
#footer .wrap .bottom p {
   color : #fff;
}